[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third-party/RTSP"]
	path = third-party/RTSP
	url = https://github.com/ZHEQIUSHUI/RTSP.git
